<div class="abt-section mb-150">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-12">
                <div class="abt-bg">
                    <a href="https://www.youtube.com/watch?v=DBLlFWYcIGQ" class="video-play-btn popup-youtube"><i class="fas fa-play"></i></a>
                </div>
            </div>
            <div class="col-lg-6 col-md-12">
                <div class="abt-text">
                    <p class="top-sub">Since Year 2019</p>
                    <h2>We are <span class="orange-text">Fruitkha</span></h2>
                    <p>We deliver farm-fresh fruit and clean-ingredient snacks to companies nationwide, while supporting sustainability, small farms, and the community.</p>
                    <p>We have expertise in providing fresh fruits online and fresh vegetables online and offline and sourcing the choicest of fruits and vegetables from around the world</p>
                    <a href="{% url 'about' %}" class="boxed-btn mt-4">know more</a>
                </div>
            </div>
        </div>
    </div>
</div>

