{%  extends  'incs/base.html' %}
{% load static %}

{% block context %}
	
	<!-- breadcrumb-section -->	
	{% include 'fructs/section/breadcumb.html' %}	
	<!-- end breadcrumb section -->
	
	<!-- contact form -->
	<div class="contact-from-section mt-150 mb-150">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 mb-5 mb-lg-0">
					<div class="form-title">
						<h2>Have you any question?</h2>
						<p>Our family business is in service to your health and happiness, whether you are ordering for your business, home, school, university, organization, multiple offices across the country</p>
					</div>
				 	<div id="form_status"></div>
					 <div class="contact-form">
						<form type="POST" id="fruitkha-contact" onSubmit="sendMail()">
							{% csrf_token %}
							<p>
								<input type="text" placeholder="Name" name="name" id="name" required>
								<input type="email" placeholder="Email" name="email" id="email" required>
							</p>
							<p>
								<input type="tel" placeholder="Phone" name="phone" id="phone" required>
								<input type="text" placeholder="Subject" name="subject" id="subject" required>
							</p>
							<p><textarea name="message" id="message" cols="30" rows="10" placeholder="Message" required></textarea></p>							
							<p><input type="submit" value="Submit"></p>
						</form>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="contact-form-wrap">
						<div class="contact-form-box">
							<h4><i class="fas fa-map"></i> Shop Address</h4>
							<p>{{ location.adresse }}<br> {{ location.street }} <br> {{ location.town }}</p>
						</div>
						<div class="contact-form-box">
							<h4><i class="far fa-clock"></i> Shop Hours</h4>
							<p>{{ location.innner }} <br> {{ location.outter }} </p>
						</div>
						<div class="contact-form-box">
							<h4><i class="fas fa-address-book"></i> Contact</h4>
							<p>Phone: {{ location.phone }} <br> Email: {{ location.email }}</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- end contact form -->
<script>
	
</script>
	
	{% block carousel %}
    
    {% endblock %}

	{% endblock %}