<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- fontawesome -->
	<link rel="stylesheet" href="{% static 'css/all.min.css' %}">
	<!-- bootstrap -->
	<link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">   
    <title>Django Mail</title>
</head>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="https://docs.djangoproject.com/en/3.1/topics/email/">Django Mail</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <a href="https://github.com/samir321-pixel" add target="_blank">
                <i class="fa fa-github" style="font-size:41px;color:white; margin-left:7px"></i></a>
        </form>
    </div>
</nav>


<body>
<div class="jumbotron">
    <h1 class="display-4">Send Mails!</h1>
    <p class="lead">This is a simple django app to send mail to anyone!</p>
    <hr class="my-4">
    <p>Although Python provides a mail sending interface via the smtplib module, Django provides a couple of light
        wrappers over it. These wrappers are provided to make sending email extra quick, to help test email sending
        during development, and to provide support for platforms that can’t use SMTP.</p>
    {% if send %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>Successfull!</strong> Your Mail has been Send.
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

    {% endif %}
    <form method="POST" action="{{ mailing }}">
        {% csrf_token %}
        {{ form.email }}
        {{ form.subject }}
        {{ form.message }}
        <input class="btn btn-primary" type="submit" name="Send Mail">
    </form>

</div>

 <!-- jquery -->
	<script src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
	<!-- bootstrap -->
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
	<script src="{% static 'bootstrap/js/bootstrap.bundle.min.js' %}"></script>
	<!-- popper js -->
	<script src="{% static 'js/popper.min.js' %}"></script>
</body>
</html>